<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="RavenURL" value="http://localhost:8080/"/>
    </appSettings>
    <connectionStrings>
        <add name="Reports" connectionString="Data Source=(local);Initial Catalog=Sample;Integrated Security=SSPI;"/>
    </connectionStrings>
</configuration>